/*Setting up the fonts for app
*/

@font-face {
    font-family: 'SSP_Bold';
    src: url(../fonts/SourceSansProBold.ttf);
}


/*Global styles
*/

body {
	font-family: 'SSP_Light';
	width: 100%;
    overflow-x: hidden;
}


/*Tilte styles
*/

.viewTitle {
	margin-bottom: 20px;
	position: relative;
	color: #2f2e7f;
	font-size:40px;
	font-weight: 300;
    text-align: center;
}

.viewSubtitle {
	position: relative;
    color: #2f2e7f;
    margin:0 0 1em 0;
	font-size:20px;
	font-weight: 300;
    text-align: center;
}


/* Button styles
 */

.coralButton, .coralButton-hover {
  position: relative;
  display: block;
  text-align: center;
  overflow: hidden;
  margin: 0 0 1em 0;
  text-decoration: none;
  width: 100%;
  height: 3.5em;
  font: 300 1em/3.5em 'SSP_Light', sans-serif;
  letter-spacing: .08em;
  background: #f15748;
  color: #ffffff;
  border:none;
  border-radius: 10px;
  -moz-transition: ease 0.35s all;
  -o-transition: ease 0.35s all;
  -webkit-transition: ease 0.35s all;
  transition: ease 0.35s all;
}

.coralButton:hover, .coralButton-hover:hover {
  background: #5531d0;
  text-decoration: none;
}

.coralButton-hover:hover {
  line-height: 9em;
  text-decoration: none;
}

.coralButton-hover:before {
  content: attr(data-hover-text);
  color: #DEEFF5;
  position: absolute;
  top: -2.75em;
  width: 100%;
  left: -50%;
  transform: translateX(50%);
  text-decoration: none;
}


/* Input forms
*/

.form-group label {
	color: #2f2e7f;
	font-family: 'SSP_Regular';
	font-size: 16px;
}

.inputElement {
	border-radius: 10px;
	border:1px solid #f15748;
	font-size: 18px;
	color: #050505;
    background-color: #f1f6fa;
    width: 100%;
    position: relative;
}

.inputLabel {
	display: block;
}
