canvas {
  position: relative !important;
  border: 1px solid black !important;
  z-index: 1 !important;
  width: 100% !important;
  height: 100% !important;
  background-color: #97aee3 !important;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box!important ;
  display: block !important;
  margin-left: auto ;
  margin-right: auto ;
}